<h1>Welcome <%= current_student.username.capitalize %></h1>

<% if current_student %>
  <ul>
    <% current_student.favorited_resources.each do |favorite| %>
      <li><%= link_to favorite.title, favorite.link, target: '_blank' %></li>
    <% end %>
  </ul>
<% end %>
