<h1>Welcome <%= current_teacher.username.capitalize %></h1>

<% if current_teacher %>
  <ul>
    <% current_teacher.favorited_resources.each do |favorite| %>
      <li><%= link_to favorite.title, favorite.link, target: '_blank' %></li>
    <% end %>
  </ul>
<% end %>
