<h1>Hello, <%= current_teacher.username.capitalize %></h1>

<div id="favoritedresources">
<h3>Favorited resources: </h3>
<% if current_teacher %>
  <ul>
    <% current_teacher.favorited_resources.each do |favorite| %>
      <li><h3><%= link_to favorite.title, favorite.link, target: '_blank' %></h3></li>
      <br>
    <% end %>
  </ul>
<% end %>
</div>
